
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-color: #747edd;
}

main{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 1400px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 11px 11px 0px 0px rgba(0,0,0,1);
    background-color: #ebffcb;
}

.add-form{
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

input{
    width: 100%;
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

input[type="text"]{
    box-shadow: 6px 8px 0px 0px rgba(0,0,0,1);
}

.input-task{
    font-size: 2em;
    border: 3px solid #000;
}

button[type="submit"]{
    background-color: #0099ff;
    height: 75px;
    width: 75px;
    border: none;
    color: #fff;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 6px 8px 0px 0px rgba(0,0,0,1);
    border: 3px solid #000;
    padding-bottom: 19px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border: 3px solid #000;
}

td, th{
    padding: 10px 15px;
    text-align: center;
    border: 3px solid #000;
}

td{
    color: #1f1f1f;
    font-weight: 600;
    border: 3px solid #000;
}


tr:nth-child(odd){
    background-color: #e3cafe;
}

select{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #fff;
}

select:hover{
    background-color: #cccccc;
}

.btn-action{
    border: solid 3px #000;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer ;
}

.btn-action:nth-child(1){
    background-color: #0099ff;
    margin-right: 5px;
}

.btn-action:nth-child(2){
    background-color: rgb(253, 34, 34);

}